{% extends "harvester/base.html" %}
{% block content %}
<h1>Registrera skörd</h1>

<form action="{% url "harvest-new" %}" method="POST" class="uk-form uk-form-horizontal">
  {% csrf_token %}
<div class="uk-form-row">
<label class="uk-form-label">Gröda</label>{{ form.crop.errors }}

<div class="uk-form-controls">{{ form.crop }}</div>
  </div>

  <div class="uk-form-row">
<label class="uk-form-label">Kultur</label>  {{ form.culture.errors }}
<div class="uk-form-controls">{{ form.culture }}</div>
</div>

<div class="uk-form-row">
	<label class="uk-form-label">Leverans</label>{{ form.destination.errors}}<div class="uk-form-controls">{{ form.destination}}</div>
</div>

<div class="uk-form-row">
	<label class="uk-form-label">Antal</label>{{ form.destination.errors}}<div class="uk-form-controls">{{ form.destination}}</div>
</div>

<div class="uk-form-row">
	<label class="uk-form-label">Vikt</label>{{ form.destination.errors}}<div class="uk-form-controls">{{ form.destination}}<a href="#calculator" data-uk-modal class="uk-icon-justify uk-icon-calculator"></a></div>
</div>



<div class="uk-form-row">
	<label class="uk-form-label">Skördad längd</label>{{ form.harvested_length.errors}}<div class="uk-form-controls">{{ form.harvested_length }}</div>
</div>

<div class="uk-form-row">
	<label class="uk-form-label">Kulturen slutskördad?</label>{{ form.culture_is_done.errors}}<div class="uk-form-controls">{{ form.culture_is_done }}</div>
</div>

<div class="uk-form-row">
	<label class="uk-form-label">Dag</label>{{ form.time.errors}}<div class="uk-form-controls">{{ form.time}}</div>
</div>



<div class="uk-form-row">
	<label class="uk-form-label">Kommentar</label>{{ form.comment.errors}}<div class="uk-form-controls">{{ form.comment}}</div>
</div>



  <script>
  
  function get_cultures(){
			var params = { csrfmiddlewaretoken: "{{ csrf_token }}", crop_id: $('#id_crop').val()  };
            jQuery.ajax({
              async: false,
              type: "POST",
              url: "{% url 'get_cultures_and_target_by_crop' %}",
              data: jQuery.param( params ),
              success: function(response) {
                    result = JSON.parse(response);
                    if (result) {

                        $('#id_culture').empty()  // Use to empty the select
                        result.cultures.forEach(function(c) {
                            $('#id_culture').append(new Option(c.name,c.id,false,false));
                        })
                        $('#id_destination').empty()  // Use to empty the select
                        result.deliveries.forEach(function(d) {
                            $('#id_destination').append(new Option(d.name,d.id,false,false));
                        })

                    } else {
                        console.log('error');
                    }
                }
            });
        }

  
  
    function addRow() {
	
  var a=document.getElementById("template");
	var cln=a.cloneNode(true);
	cln.id="";
	cln.style.visibility="visible";
	document.getElementById("weighttable").appendChild(cln);
	}

	function recalc() {
		function z(a) {
			return a.value==""
		}
		var c=document.getElementById("weighttable");
		var b= document.getElementById("weighttable").lastChild;
		var e=b.getElementsByClassName("weight");
		console.log(b.cells[0].children[0].value)
		console.log(b.getElementsByClassName("numbucket")[0].value)
		console.log(b.getElementsByClassName("bucket")[0].value)
		
		if (b.getElementsByClassName("weight")[0].value!=0 || b.getElementsByClassName("numbucket")[0].value!=0  || b.getElementsByClassName("bucket")[0].value!=0)
		addRow()
		
		var c=document.getElementById("weighttable");
		
		var t=document.getElementById("weighttable");
		var sum=0;
		var r=1;
while(row=t.rows[r++])
{



	sum+=row.cells[0].children[0].value-row.cells[1].children[0].value*row.cells[2].children[0].value

  
}
	document.getElementById('total').innerHTML=sum;


		
	}
  </script>
  <div class="uk-modal" id="calculator">
  <div class="uk-modal-dialog">
  <table id="weighttable">
<tr><th>Vikt (g)</th><th>antal behållare vägda</th><th>Behållare</th></tr>   
	<tr id="template" style="visibility:hidden">

	<td>
			<input onchange="recalc()" class="weight sum" type="number" min="0" step="1"/ pattern="\d*"/"/>
		</td>
		<td>
			<select class="numbucket" onchange="recalc()">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="2">3</option>
				<option value="2">4</option>
			</select>
		</td>
		<td>
			<select class="bucket" onchange="recalc()">
				<option value="0">-</option>
				<option value="1600">svart back, hög"</option>
				<option value="1000">lövkorg</option>
			</select>
		</td>
		
	</tr>
  </table>
  <div> Totalt:<span id="total">0g</span></div>
  <button href="" onclick="alert('test');">Använd beräkning</button>
  </div>
  </div>
  <script>
	addRow();
  </script>
                {{ harvest_transfer_form.management_form }}
                {{ harvest_transfer_form.non_form_errors }}
 <table class="uk-table">
   <tr><th>Leverans</th><th>Vikt</th><th>redan packat/Beställt</th><th>Antal</th><th>Enhet</th><th>redan packat/Beställt</th></tr>

                {% for form in harvest_transfer_form %}
<tr>
     <td>{{form.dest}}</td>

    <td>{{form.weight}}</td>
<td></td>
    <td></td>
    <td>Antal {{form.count}}

    {% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
    </td>

</tr>







                {% endfor %}
</table>
  <input id="save_harvest_item" type="submit" value="Save" />
</form>
</div>
{% endblock %}

